body{
	background-color: #F2E6FF;
	color: black;
}
@keyframes gradient { 
  0% { background-position: 0% 50% }
  50% { background-position: right center }
  100% { background-position: 0% 50% }
}
#container{
	position: relative;
	display: flex-block;
	top: 25%;
	width: 40%;
	height: 20%;
	padding: 3rem 3rem; 
	background-image: linear-gradient(to right, #D9B3FF 0%, #FF99AA 50%, #D9B3FF 100%);
	background-size: 300% 300%;
	animation: gradient 3s ease infinite;
}



